#
# Project dependencies
#
# RxSwift
github "ReactiveX/RxSwift" ~> 3.0
#
# Dictionary that keeps track of sort order
github "lukaskubanek/OrderedDictionary" ~> 1.0
#
# Networking
github "Moya/Moya" ~> 8.0
github "Hearst-DD/ObjectMapper" ~> 2.2
github "Alamofire/AlamofireImage" ~> 3.1
#
# UI
github "optonaut/ActiveLabel.swift"
#
# Test Dependencies
#
# Cuckoo - Mockito for Swift
github "nxtstep/Cuckoo" ~> 0.8